<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EditPenggunaActivity"></activity>
        <activity android:name=".ListPenggunaActivity" />
        <activity android:name=".EditWelderActivity" />
        <activity android:name=".EditProyekActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".IntroActivity" />
        <activity android:name=".CariWelderActivity" />
        <activity android:name=".DetilProyekActivity" />
        <activity android:name=".JenisProyekActivity" />
        <activity android:name=".DetilWelderctivity" />
        <activity android:name=".SMAWListActivity" />
        <activity android:name=".ClassWelderActivity" />
        <activity android:name=".HomeListProyekActivity" />
        <activity android:name=".ListWelderActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>